/* reset css */
@import "./font.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: nunito;
  font-weight: 400;
  background-color: var(--middle-bg);
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}