/* tablet version for index */
@media only screen and (min-width: 768px) {
    .header {
        height: 60px;
        padding-top: 5px;
        align-items: center;
        justify-content: space-between;
        gap: 0px 5px;
    }

    .header__amazon-div {
        width: 70px;
        padding-top: 10px;
    }

    .header__delivery {
        display: flex;
        align-items: center;
        height: 35px;
        width: auto;
        gap: 0px 4px;
        
    }

    .header__delivery-icon {
        color: #fff;
        font-size: 12px;
        padding: 10px 0px 0px 0px;
    }

    .header__delivery-texts {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2px 0px;
        width: 55px;
        line-height: 1;
    }

    .header__delivery-text--grey {
        color: var(--deliver-grey);
        font-size: 12px;
    }

    .header__delivery-text--white {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }


    .header__categories-icon::after {
        right: 4%;
    }


    .header__categories {
        width: inherit;
        font-weight: 500;
        padding-left: 12px;
        font-size: 14px;
    }


    .header__search-input {
        padding: 0px 0px 0px 58px;
    }

    .header__search-input::placeholder {
        font-size: 14px;
    }

    .header__send {
        width: 10px;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .header__search-send-button {
        display: none;
    }

    .header__language-display {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55.47px;
        cursor: pointer;
    }

    .header__chosenLan-label {
        position: relative;
        cursor: pointer;
    }

    .header__chosenLan-input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
    }

    .header__chosen-language {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 16.27px;
    }

    .header__chosenLan-input:checked + .header__chosen-language {
        overflow: visible;
    }

    .header__chosenLan-name-icon {
        display: flex;
        align-items: center;
        gap: 4px;
        height: 16.28px;

    }

    .header__chosenLan-img {
        width: 25px;
        height: 16.28px;
    }

    .header__chosenLan-img-tag {
        width: inherit;
    }

    .header__languages-others {
        color: var(--languages-reveal);
    }

    .header__language-submenu {
        height: 468.5px;
        width: 288px;
        background-color: #fff;
        top: 190%;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px 0px;
        z-index: 200;/* Causes our submenu to end up on top of the gradient    */
    }

    .header__language-submenu::before {
        position: absolute;
        content: "";
        border: 10px solid transparent;
        border-bottom-color: var(--triangle-grey);
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__languageSub-learn {
        font-size: 13px;
        display: flex;
        gap: 0px 8px;
    }

    .header__languageSub-learn-L {
        color: #444;
    }

    .header__languageSub-learn-R {
        color: var(--learn-more-blue);
    }

    .header__languageSub-learn-R:hover {
        color: var(--magnificent-red);
        text-decoration: underline;
    }

    .header__languageSub-changer {
        color: #000;
        font-size: 14px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 10.3px 0px;
    }

    .languages {
        display: flex;
        gap: 0px 8px;
    }

    .header__languageSub-seperationLine {
        width: 100%;
        border-top: 1px solid var(--seperation-line);
    }

    .header__language-currency {
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }

    .header__language-currency-L {
        color: #000;
    }

    .header__language-currency-R {
        color: var(--learn-more-blue);
    }

    .header__language-currency-R:hover {
        color: var(--magnificent-red);
        text-decoration: underline;
    }

    .header__languageSub-statement {
        display: flex;
        align-items: center;
        gap: 0px 8px;
        color: #000;
    }

    /* The tags and therir attributes are repeated as a reminder of their repeat usage. */
    /* .header__chosenLan-img {
        width: 25px;
        height: 16.28px;
    }

    .header__chosenLan-img-tag {
        width: inherit;
    } */
    /* The tags and therir attributes are repeated as a reminder of their repeat usage. */

    .header__languageSub-statementText {
        width: 150px;
    }

    .header__languageSub-region {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .header__languageSub-region-a {
        color: var(--learn-more-blue);
    }

    .header__languageSub-region:hover .header__languageSub-region-a {
        color: var(--magnificent-red);
        text-decoration: underline;
    }
    /* The Language Section Ends */

    /* The account section begins */
    /* The tag holding parent <div> of the texts. */
    .header__account {
        
        display: flex;
        align-items: center;/* Aligning the parent <div> of the texts */
        padding: 2px 0px 0px 0px;/* Customizing the box to fit the content better , It's barely a tight fit due to the amount of text, Do not change.*/
        height: 50px;
    }

    .header__AccountInvitation-headline {
        width: 78px;/* Adjusting the width of the <div> tag containing the <span> for appropriate number of text lines. */
        display: flex;
        flex-direction: column;
        text-align: center;
        /* Aligning the texts */
    }

    .header__AccountInvitation-headlineT {
        font-size: 12px;
    }

    .header__AccountInvitation-headlineB {
        font-size: 14px;
        font-weight: 800;
    }

    .header__AccountInvitation-expand {
        display: inline-block;
    }

    .header__account-label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .header__account-input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
    }

    /* The trigger for the reappearance of invitation box */
    .header__account-invitation {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    .header__account-input:checked + .header__account-invitation {
        overflow: visible;
    }
    /* The trigger for the reappearance of invitation box */



    .header__AccountInvitation-expand {
        color: var(--languages-reveal);
        margin-left: 5px;
    }
    /* AccountInvitation ends here, Is here soley for the sake of appearance. */


    /* account box starts here */
    .header__account-box {
        position: absolute;
        width: 500px;
        height: 381.5px;
        background-color: #fff;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        top: 130%;
        right: -35%;right: -35%;
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        z-index: 200;/* Causes our submenu to end up on top of the gradient    */
        
    }

    .header__account-box::before {
        position: absolute;
        content: "";
        border: 10px solid transparent;
        border-bottom-color: var(--triangle-grey);
        bottom: 100%;
        right: 7.5%;
        transform: translateX(-50%);
    }

    .header__account-boxT {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px 0px;
        margin-top: 8px;
    }

    .header__account-signup {
        background-color: var(--button-yellow);
        height: 34px;
        width: 334px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 1px var(--shadow);
        font-size: 16px;
        font-weight: 500;
    }

    .header__account-signup:hover {
        background-color: var(--button-hover-yellow);
    }

    .header__account-offers {
        font-size: 11px;
        color: #000;
    }

    .header__account-offerA {
        color: var(--learn-more-blue);
    }

    .header__account-offerA:hover {
        text-decoration: underline;
    }

    .header__account-seperationLine {
        width: 100%;
        border-top: 1px solid rgb(221, 226, 233);
        /* Same color as seperation line, Simply lighter */
    }

    .header__account-boxB {
        height: 275px;
        display: flex;
        gap: 0px 161px;
        margin-top: 9px;
    }

    .header__list {
        width: 27%;
        display: flex;
        flex-direction: column;

    }

    .header__list-you {
        color: #000;
        font-weight: 700;
    }

    .list-small {
        font-size: 13px;
        color: #444;
    }

    .list-small:hover {
        color: var(--outline-orange);
        text-decoration: underline;
    }

    .header__user-account {
        border-left: 1px solid rgb(221, 226, 233);
        display: flex;
        flex-direction: column;
        gap: 2px 0px;
        padding-left: 10px;
    }

    .header__user-account-headline {
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }

    .user-account-options {
        font-size: 13px;
        color: #444;
    }
    /* Account box ends here */

    /* The account section ends */

    /* The header__returns section beings */
    .header__returns {
        display: inline-block;
        color: #fff;
        display: flex;
        align-items: center;
    }

    .header__returns-display {
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
    }

    .header__returns-displayTT {
        font-size: 12px;
    }

    .header__returns-displayTB {
        font-size: 15px;
        font-weight: 700;
    }
    /* The header__returns section ends */

    /* The shopping section begins */
    .header__shopping-cart {
        height: 48.5px;
        justify-content: center;
    }
    /* The shopping section ends */

    /* The Header section Ends */

    /* The options section begins */

    .options {
        height: 38px;
        justify-content: flex-start;
        gap: 0px 10px;
    }

    .options__more-display {
        height: 35px;
        display: flex;
        align-items: center;
    }

    .options__more-div {
        font-size: 15px;
    }
    .options__more-logo {
        font-size: 18px;
    }

    .option-pages {
        height: 35px;
        padding: 0px 10px 0px 10px;
        font-size: 15px;
    }

    .options__deals {
        width: auto;
        padding: 0px 10px 0px 10px;
    }

    .options__customer-service {
        width: auto;
        padding: 0px 10px 0px 10px;

    }

    .options__gift-cards {
        width: auto;
        padding: 0px 10px 0px 10px;

    }
    /* The options section ends */
        


    /* The middle section begins */

    .middle {
        padding: 0px 13px 0px 13px;
        background-color: var(--middle-bg);
        height: 1323px;
    }

    .middle__main {
        height: 75%;/* Responisble for gradient height, Be wary that it is less than the height of .middle */
        background-size: 200% auto;
        background-position: -400px  0px;
        gap: 30px 0px;
    }

    .middle__main::after {
        background: linear-gradient(to bottom, rgb(255,208,4) 0%, var(--middle-main-grey) 9%);
        /* The button yellow color but changed slightly. */
    }

    .middle__declaration {
        width: 95%;
        padding: 8px 10px;
        font-size: 14px;
    }


    

    .middle__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        gap: 7px 0px;/* The horizantal and vertical distance between the boxes */
    }

    .middle__product-path {
        display: flex;
        width: 32.91%;
    }

    .middle__product {
        width: 100%;
        height: 100%;
        gap: 21px  0px;
        padding: 15px 15px 16px; /* The distancing from the top border is lessened */
        /* justify-content: space-between; */
    }

    .middle__product-upper {
        justify-content: space-between;
        height: 247.5px;/* A shared height, So we can properly align all the images and their text to be on the same (relative) base */
        width: 100%;
    }

    .middle__product-imgdiv {
        width: 92%;/* The apt size for the 1st images of the products */
        display: flex;
        max-height: 186px;
    }

    .middle__product-imgdivII {
        width: 80%;/* The apt size for the 2nd images of the products */
    }

    .middle__product-imgdivIII {
        position: relative;
        top: 50px;
        width: 100%;/* The apt size for the 3rd images of the products */
    }
    
    .middle__product-imgdivIV {
        position: relative;
        top: 30px;
    }
    
    .middle__product-imgdivV, .middle__product-imgdivVI {
        position: relative;
        width: 60%; /* The apt size for the last two images of the products */
        top: 30px;
    }
    


    .middle__product-img--relocation {
        position: relative;
        top: 0px; /* Don't remove this, It causes the last product image to be PERFECTLY centered within not only its <div> but also with the other images */
    }

    /* The middle section ends */




    /* The footer section begins */
    /* Holding both rows */
    .footer {
        background-color: var(--options-blue);
        display: flex;
        flex-direction: column;
        padding: 45px 0 6px 0;
        /* Okay so, I thought that this would be simple, Be the fact that the seperating line is WHOLE, Means that the normal padding of container is 
        out of the question */
        gap: 45px 0px;
    }

    /* holding ONLY the top(column)/Left(row) rows */
    .footer__top-links {
        padding: 0px 115px 0 115px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .footer__headline--shorter-tablet {
        width: 140px;
    }

    .footer__a {
        color: var(--footer-grey);
        font-size: 14px;

    }

    .footer__a--shorter-tablet {
        width: 155px;
    }


    /* Holding the bottom(column)/Right(row) row */
    .footer__bottom-links {
        gap: 0px 12px;
        font-size: 16px;
        padding-top: 7px;
        padding-left: 0px;
    }


    /* The shared name of the boxes containing the bottom links with their images */
    .bottom-links-boxes {
        height: 36px;
    }

    .footer__bottom-language {
        display: flex;
        align-items: center;
        gap: 8px;
    }

}

/* The tablet responsive for product-showcase */
@media only screen and (min-width: 768px) {

.advertisment {
    width: 60%;
    margin: 0 auto;
    max-width: 615px;
}

.product__picture-div {
    width: 250px;
    position: static;
    left: 0%;
    transform: translateX(0%);
}

.product__rowII-benefits {
    flex-direction: row; /* Causes the product__rowII-benefits-saving and product__rowII-benefits-offer to be placed next to each other */
    align-items: center; 
    gap: 0px 4px;
    
}

.product__explaination-rowIII-input:checked + .product__rowIII-hiddenQualities-trigger {
    top: 110px; /* The show less text and icon of the product__rowIII-hiddenQualities need an adjustment in location. */
}

.product__rowII-benefits-saving {
    font-size: 14px;
    padding: 5px;
}

.product__benefits-offer-box {
    top: 120%;
    left: 0%;
    
}

.product__benefits-offer-box::after {
    right: 50%;
    transform: translateX(50%);
}

}



/* Computer/Laptop version for index */
@media only screen and (min-width: 1024px) {

    .back-to-top:hover {
        background-color: rgb(79,88,100);/* Just a lighter shade of --back-to-top-blue */
    }

    .header {
        height: 61px;
        justify-content: space-around;
        gap: 0px 9px;
        padding: 5px 0px 6px 5px;
    }

    .header__amazon-div {
        width: 112px;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 18px 5px 10px 5px;
    }



    .header__amazon-logo {
        width: 100px;
    }

    .header__delivery {
        height: 50px;
        width: 90px;
        gap: 0px 1px;
        justify-content: center;
    }

    .header__delivery-texts {
        display: flex;
        width: 55px;
        flex-direction: column;
        align-items: center;
    }

    .header__delivery-text--grey {
        font-size: 12px;
    }

    .header__delivery-text--white {
        font-size: 18px;
    }

    .header__search {
        height: 42px;
        width: 347.5px;
        position: relative;
        flex-grow: 1;
    }

    .header__categories-icon::after {
        right: 4%;
    }


    .header__categories {
        width: inherit;
        font-weight: 500;
        padding-left: 12px;

    }

    .header__categories:hover {
        background-color: var(--category-hover);
    }

    .header__categories:checked {
        outline: 3px solid var(--outline-orange);
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }


    .header__search-input {
        padding: 0px 0px 0px 56.5px;
        
    }

    .header__send {
        position: absolute;
        width: 40px;
        right: 0;
    }

    .header__send:hover {
        filter: brightness(80%);
    }

    .header__search-send-button {
        display: inline-block;
        font-size: 30px;
    }

    /* The Language Section Ends */
    .header__language-display {
        height: 50px;
        padding: 10px 0px 10px 0px;
    }

    .header__chosenLan-input:checked + .header__chosen-language {
        overflow: none;
    }

    .header__chosen-language {
        overflow: hidden;
        padding-top: 15px;
        padding: 15px 5px 0px 5px;
        height: 45px;
        width: 100%;
    }
    
    .header__chosen-language:hover {
        overflow: visible;
    }

    .header__chosen-language:hover .header__language-submenu {
        display: flex;
    }

    .header__language-submenu {
        display: none;
        top: 80%;
        right: 10%;
    }
    /* The Language Section Ends */



    /* The account section begins */
    /* The tag holding the parent <div> of the texts. */
    .header__account {
        width: 157.5px; /* <-- Making room for the width of the text <div>. */
        height: 50px; /* <-- Making room for the width of the text <div>. */
        display: flex;
        justify-content: center;
    } 


    .header__AccountInvitation-headline {
        text-align: left;
        width: 130px;/* Adjusting the width of the <div> tag containing the <span> for appropriate number of text lines. */
        
    }

    .header__account-input:checked + .header__account-invitation {
        overflow: visible;
    }
    

    .header__account-invitation:hover {
        overflow: visible;
    }

    .header__account-invitation:hover .header__account-box {
        opacity: 1;
    }

    .header__account-box {
        top: 100%;
        opacity: 0;
        right: -37%;
    }

    /* The account section ends */


    /* The header__returns section beings */
    .header__returns {
        display: flex;
        align-items: center;
        border: 1px solid transparent;
    }
    /* The header__returns section ends */


    /* The shopping section begins */
    .header__shopping-cart {
        height: 50px;
        width: 87px;
        padding: 18px 5px 18px 5px;
        font-weight: 700;
        gap: 0px 10px;
        display: flex;
    }

    .header__shopping-indicator {
        height: 50px;
    }

    .header__shopping-items {
        font-size: 18px;
        position: relative;
        transform: translateY(-13px);
    }

    .header__cart-logo {
        position: absolute;
        bottom: 13%;
        font-size: 24px;

    }

    .header__shopping-text {
        font-size: 20px;
        font-weight: 700;
        align-self: flex-start;/* Due to some glitch (Persumably) The effect of flex-start and flex-end are switch, So be wary. */
    }
    /* The shopping section ends */
    /* The Header section Ends */

    /* The options section begins */
    .option-pages {
        font-size: 16px;
    }

    .options__more-div {
        font-size: 16px;
    }
    .options__more-logo {
        font-size: 20px;
    }


    /* The options section ends */

    /* The middle section begins */


    .middle__main {
        height: 78%;/* Responisble for gradient height, Be wary that it is less than the height of .middle */
        background-size: 150% auto;
        background-position: center  0px;
        gap: 27px 0px;
    }

    .middle__main::after {
        top: 290px;
        background: linear-gradient(to bottom, rgb(255,208,4) 15%, var(--middle-main-grey) 29%);
        /* The button yellow color but changed slightly. */
    }

    .middle__declaration {
        width: 98%;
        justify-content: center;
    }

    .middle__items{
        width: 98%;
        justify-content: flex-start;
        gap: 1% 0.5%;
    }

    .middle__product-path {
        height: auto;
        flex-basis: 19.6%;
        max-width: 19.6%;
        flex-grow: 2;
    }

    .middle__product {
    width: 100%;
    height: auto;
    gap: 21px  0px;
    padding: 15px 15px 16px; /* The distancing from the top border is lessened */
    /* justify-content: space-between; */
    }

    .middle__product-upper {
        justify-content: space-between;
        height: 60%;/* A shared height, So we can properly align all the images and their text to be on the same (relative) base */
        width: 100%;
    }

    .middle__product-imgdiv {
        max-height: 250px;/* forcing the div tag to grow a height so the images retain their proper scaling */
    }

    .middle__product-imgdivI {
        width: 80%;/* The apt size for the 1st images of the products */
    }


    .middle__product-imgdivIII {
        top: 10%;/* Realigning the image */
        
    }

    .middle__product-imgIII {
        width: 120%;/* The apt values that the third image needs to take from it div */
        
    }
    
    .middle__product-imgdivIV {
        position: relative;
        top: 10%;
    }
    
    .middle__product-imgdivV, .middle__product-imgdivVI {
        position: relative;
        width: 60%; /* The apt size for the last two images of the products */
        /* border: 3px solid black; */
        top: 0%;/* Forcefulyy aligning the last two image with the other product images */
        
    }
    
    .middle__product-imgdivV {
        position: relative;
        top: 7%;/* A minor adjustment for the fifth product image */
        
    }

    .middle__product-name {
        font-size: 26px; /* The 30px font size is causing the long name Samsung to ruin the alignment */
        font-weight: 500; /* More thickness is added to the texts so they are just as prominent */
       
    }


    .middle__product-img--relocation {
        top: -10px;
    }
    


    /* The middle section ends */

    /* The footer section begins */
    .footer__top-links {
        padding: 0px 115px 0 115px;
    }
    /* The footer section ends */



}

/* The Computer responsive for shopping-cart.HTML */
@media only screen and (min-width: 1024px) {

    .notice__empty-notice {
        width: 96%;

    }


}

/* Computer/Laptop version for product-showcase */
@media only screen and (min-width: 1024px) {

.product {
    flex-direction: row;
    padding: 6px 10px;
    align-items: flex-start;
    /* Puts the product__picture-div, product__explaination and product__order in the horizantal axis */
}

.product__picture-div {
    width: 336px;
    align-self: flex-end;/* Sending the image to the top of the parent product__explaination  tag */
    position: sticky;
    bottom: 60%;
    z-index: 30;
}

.product__explaination {
    display: flex;
    width: 70%;
}
    
.product__row-one-headline {
    font-size: 44px;
}

.product__row-one-utility {
    font-size: 18px;
}

.product__rowII-benefits {
    flex-direction: column;/* building for both a computer and laptop cuases the alignemnt to be out of sync, Turn this to row when building for ONLY a computer */
    align-items: center;
    gap: 4px 0px;
    width: 380px;
}

.product__rowII-benefits-saving {
    align-self: flex-start; /* Put in with the flex-direction: column applied to product__rowII-benefits, Remove this once building for ONLY a computer screen size. */
}

.product__rowII-benefits-offer {
    align-self: flex-start; /* Put in with the flex-direction: column applied to product__rowII-benefits, Remove this once building for ONLY a computer screen size. */
}


.product__order {
    width: 227px;


 
    height: auto; /* 1: The height has to BARELY fit "see more" inside product__order. */
   
    
    padding: 6px 7px;/* 2: the horizantal padding that container brings must be erased, So the height increase of 
    product__order-supprt-hidden looks natural. */
    
    flex-direction: column;

    justify-content: space-between;
}

/* 4: We give the horizantal padding of product__order to the element tags that contain the content. */


.product__order-request-confirm {
    flex-direction: column;
    /* Cuases the product__order-quantity and product__order-confirm tags to end on the vertical axis  */
    gap: 10px 0px;/* distance between the select and the button */
    
    padding: 0px 10px;
}

.product__order-quantity {
    width: 100%;
}

.product__order-confirm {
    width: 100%;
}


.amazon-com, .product__order-returns-explain, .product__support-hidden-textsII {
    width: 100px;
}

.product__order-support {
    
    /* 7: given the rounded borders to make the see more/less box look like the countinuation of product__order */
}

.product__order-supprt-hidden {

    display: none;/* Disapearing the submenu */

}

.product__order-support-input:checked ~ .product__order-supprt-hidden {
    display: flex;

}

.product__support-hidden-texts {
    justify-content: space-between;
}



}
