@import "./reset.css";
@import "./fonts.css";
@import "./variables-colors.css";
@import "./ultilities.css";



.back-to-top {
    height: 46px;
    background-color: var(--back-to-top-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--back-to-top-blue-text);
    font-size: 12px;
}

/* The Header section begins */
.header {
    background-color: var(--header-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 5px;
    color: #fff;
    height: 54px;
}

.header__amazon-div {
    padding: 10px 0px 0px 0px;
    width: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__delivery {
    display: none;
}


.header__amazon-logo {
    width: inherit;
}

.header__delivery-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__delivery-text--grey {
    color: var(--deliver-grey);
}

.header__search {
    height: 31px;
    width: 242.5px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__categories-icon {
    height: inherit;
    width: 48.5px;
    position: relative;
    box-shadow: 0.5px 0px 2px 0px grey;
    display: flex;
    align-items: center;
}

.header__categories-icon::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Required for solid icons */
    font-size: 12.5px;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    color: #000; /* Icon color */
}

.header__categories {
    position: relative;
    background-color: var(--send-grey);
    color: #000;
    height: inherit;
    width: 48.5px;
    border: none;
    font-size: 12px;
    font-family: nunito;
    font-weight: 400;
    left: 0%;
    padding-left: 10px;
    appearance: none; /* To disappear <select> tag's natural icon. */
    cursor: pointer;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    z-index: 2;
}

.header__categories:focus {
    outline: none;
}

.header__search-input {
    position: absolute;
    background-color: var(--input-blue);
    font-family: nunito;
    font-weight: 400;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: .25rem;
    padding: 0px 0px 0px 52px;
    font-size: 14px;
}

.header__search-input::placeholder {
    font-size: 12px;
}

.header__search-input:focus {
    outline: 2px solid var(--outline-orange);
}

.header__send {
    position: absolute;
    right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: none;
    height: inherit;
    width: 33px;
    background-color: var(--send-orange);
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__search-send-button {
    font-size: 13px;
}

.header__language-display {
    display: none;
}

.header__account {
    display: none;
}

.header__returns {
    display: none;
}

.header__shopping-cart {
    display: flex;
    align-items: center;
    height: 42px;
    color: #fff;
}

.header__shopping-indicator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.61px;
    height: inherit;
}

.header__shopping-items {
    position: absolute;
    color: var(--outline-orange);
    z-index: 10;
    top: 0;
}

.header__cart-logo {
    position: absolute;
    bottom: 20%;
}

.header__shopping-text {
    font-size: 15px;
}
/* The header section Ends */



/* The options section begins */

.options {
    padding: 6px 8px;
    height: 46px;
    background-color: var(--options-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.options__more-label {
    position: relative;
}

.options__more-input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.options__more {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 42px;
    display: flex;
    align-items: center;/* Centers our contents in the <ul> tag */
    z-index: 110;

}

.options__more-div {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;/* Centers the icon and All text */
    gap: 0px 10px;/* Distancing the Bar Icon and the All text */
    padding: 0px 5px 0px 5px;/* Adding width */
}

.options__more-logo {
    font-size: 16px;
    font-weight: 100;
}
/* The options-submenu section begins */
.options__submenu {
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    transform: translate(-100%, 0px);
    top: 0;
    left: 0;
    height: 100vh;
    width: 351px;
    background-color: #fff;
    z-index: 120;
    display: inline-block;
    transition: 0.18s linear;
}

/* We can't use :focus to make the side bar disappear when the user clockes on the webpage, As it causes the sidebar itself to disappear when it's clicked on, Thus We 
have to move the button itself to the remainder of the webpage so the user CAN close the sidebar. */
.options__more-input:checked + .options__more {
    background-color: black;
    opacity: 0.3;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.options__more-input:checked + .options__more + .options__submenu {
    transform: translate(-11px, 0px);
    transition: 0.18s ease-in;
    left: 0;
}

.options__submenu-headliner {
    background-color: var(--options-blue);
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 6px 39px 6px 39px;
    gap: 0px 13px;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 10;
}

.fa-circle-user {
    font-size: 27px;/* Changing the size of the user icon. */
}

.options__submenu-categories {
    display: flex;
    flex-direction: column;
}

.options__submenu-category {
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 9px 0px;
    padding-bottom: 2px;/* To distance the category boxes from the seperating lines */

    
}

.options__headline {
    font-size: 17px;
    font-weight: 700;
    padding: 0px 39px 0px 39px;
    /* We must apply padding to the tags individually, Not to their parent <div>, As their box covers the entire submenu. */
    color: #000;
    position: sticky;
    top: 0;
}

.options__submenu-links {
    cursor: pointer;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    height: 46px;
    padding: 0px 37px 0px 39px;
    /* We must apply padding to the tags individually, Not to their parent <div>, As their box covers the entire submenu. */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options__amazonMusic-label {
    position: relative;
}

.options__amazonMusic-input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.options__submenu-amazonMusic-link {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.options__amazonMusicSub-label {
    position: fixed;
    top: 54px;
    padding-top: 3px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.3s linear;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    background-color: #fff;
    
}

.options__amazonMusic-input:checked + .options__submenu-amazonMusic-link {
    opacity: 0;
    height: 48px;
    z-index: 160;
    position: relative;
    transform: translateY(-54.5px);
}

.options__amazonMusic-input:checked + .options__submenu-amazonMusic-link + .options__amazonMusicSub-label {
    transform: translateX(0%);
    transition: 0.3s linear;
    z-index: 150;
}
/* The trigger for the submenu of Amazon music appearing */

.options__amazonMusicSub-input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.options__amazonMusicSub-relocator {
    padding: 0px 37px 0px 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px 27px;
    border-bottom: 1px solid rgb(173, 173, 173);

}


.options__amazonMusicSub-icon {
    color: rgb(129, 129, 129);
}

.options__submenu-amazonMusic-icon {
    color: rgb(129, 129, 129);
}

.options__seperating-line {
    border-bottom: 1px solid rgb(173, 173, 173);
    width: 100%;

}

.options__submenu-links:hover {
    background-color: var(--option-submenu-hover);
}

.options__submenu-icon-carrier, .options__submenu-img-carrier {
    display: flex;
    gap: 0px 8px;
}

.options__submenu-icon-globe {
    font-size: 17px;
    color: rgb(129, 129, 129);
}

.footer__submenu-divImg {
    width: 20px;
}

.footer__submenu-img {
    width: inherit;
}
/* The options-submenu section ends */

.option-pages {
    color: #fff;
    height: 42px;
    padding: 0px 5px;
    font-size: 12px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 0 3px; */
}

/* The options section ends */

/* The middle section begins */

.middle {
    padding: 0px 13px 0px 13px;
    
    height: 3944px;
}

.middle__main {
    height: 90%;/* Responisble for gradient height, Be wary that it is less than the height of .middle */
    background-image: url(../images/middle-of-webpage/new-toys.png);
    background-size: 350% auto;
    background-position: -525px  0px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px 0px;
}

.middle__main::after {
    position: absolute;
    content: "";
    height: 100%;
    left: 0;
    top: 320px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(255,208,4) 0%, var(--middle-main-grey) 10%);
    pointer-events: none;
    /* The button yellow color but changed slightly. */
}

.middle__previous-image, .middle__next-image {
    position: absolute;
    font-size: 50px;
    background-color: transparent;
    border: transparent;
    height: 230px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: none; */
}

.middle__previous-image {
    left: 0%;
}

.middle__previous-image:focus, .middle__next-image:focus {
    background-color: transparent;
    border: 3px solid #007185;
    border-radius: .25rem;
}

.middle__next-image {
    right: 0%;
}

.middle__declaration {
    border-radius: .25rem;
    padding: 13px 0px;
    background-color: #fff;
    color: #000;
    height: 76px;
    width: 89%;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 230px;
    z-index: 50;
}

.middle__declaration-destination {
    color: var(--amazon-path-blue);
}

/* Using input to simulate :hover is not possible thanks to the background overlay. */
.middle__declaration-destination:hover {
    color: var(--magnificent-red);
}

.middle__items {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    width: 91%; /* Responsible for the width of the item boxes */
    gap: 7px 0px;/* The horizantal and vertical distance between the boxes */
}

.middle__product-path {
    color: #000;
}

.middle__product {
    width: 100%;
    border-radius: .25rem;
    padding: 55px 15px 6px 15px;
    background-color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px 0px;
    justify-content: space-between;
    cursor: pointer;

}

.middle__product-upper {
    border-bottom: 1px solid var(--seperation-line);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.middle__product-imgdiv {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.middle__product-img {
    width: 100%;
}

.middle__product-name {
    align-self: flex-start;
    font-size: 30px;
    color: #000;
    font-weight: 400;

}

.middle__product-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 24px 0px;
}

.middle__product-prices {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap:  -5px 0px;
    line-height: 1;

}

.middle__product-discount-price {
    word-spacing: -3px;
}

.middle__price-dollar {
    font-weight: 700;
    font-size: 24px;

}

.middle__product-real-price {
    font-size: 13px;
    text-decoration: line-through;
}

.middle__product-description-score {
    font-size: 13px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
}

.middle__product-description {
    overflow: hidden;
    height: 50px;

}

.middle__product-score {
    display: flex;
    gap: 0px 5px;
}

.fa-star {
    color: var(--star);
    font-size: 15px;
}

.middle__product-more:hover {
    color: var(--magnificent-red);
}

.middle__productThree-imgdiv {
    width: 420px;
}

.middle__productFour-imgdiv {
    width: 360px;
    overflow: hidden;
}

.middle__productFifth-imgdiv {
    width: 245px;
    overflow: hidden;
}

.middle__product-img--relocation {
    position: relative;
    bottom: 15px;
}
/* The middle section ends */


/* The footer section begins */
/* Holding both rows */
.footer {
    background-color: var(--options-blue);
    display: flex;
    flex-direction: column;
    padding: 45px 0px 6px 0px;
    gap: 45px 0px;
}

/* holding ONLY the top/Left rows */
.footer__top-links {
    padding-left: 97px;/* The aligning of the two rows is uneven in the mobile version, Put this value back in the right and left value of footer's padding. */
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}


/* Holding both the headlines, And the <div> for links. */
.footer__top-links-boxes {
    width: 158px;
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
}


/* The tags headlining the links of footer. */
/* | */
/* V */ 
.footer__headline {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}

.footer__a-divs {
    display: flex;
    flex-direction: column;
    gap: 8px 0px;
    width: 200px;
}

.footer__a {
    color: var(--footer-grey);
    font-size: 14px;

}

.footer__a--shorter-mobile {
    width: 155px;
}

.footer__a:hover {
    text-decoration: underline;
}

/* Holding the bottom/Right row */
.footer__bottom-links {
    width: 100%;
    padding-top: 16px;
    border-top: 2.5px solid var(--footer-border);
    display: flex;
    justify-content: center;
    padding-left: 10px;
    gap: 0px 12px;
    align-items: center;
    font-size: 14px;
}

.footer__amazon-div {
    width: 83.3px;
    padding-top: 12px;
}

.footer__amazon-img {
    width: inherit;
}


.footer__bottom-a {
    color: var(--footer-grey);
}

/* The shared name of the boxes containing the bottom links with their images */
.bottom-links-boxes {
    height: 48px;
    border: 2px solid var(--footer-bottom-links-border);
    padding: 0px 5px 0px 5px;
    border-radius: .25rem;
    display: flex;
    text-align: center;/* To center all the content inside the boxes, Singular or otherwise, Justify-content: doesn't work when there's only one content in the axis. */
    align-items: center;
}

.footer__bottom-language {
    display: none;
}

.footer__nation {
    /* The display: style attribute is already applied with bottom-links-boxes */
    gap: 5px;
}

.footer__nation-div {
    position: relative;
    top: 2.5px;
    width: 40px;
}

.footer__nation-img {
    width: inherit;
}