@import "./reset.css";
@import "./fonts.css";
@import "./variables-colors.css";
@import "./ultilities.css";
@import "./style.css";

/* .notice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */

/* .notice__empty-notice {
    width: 90%;
    height: 156px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 1px 2px .1px #94a3b8;
    padding: 29px 50px 29px 25px;
    display: flex;
    flex-direction: column;
    gap: 13px 0px;
}

.notice__upper-text {
    font-size: 18px;
    font-weight: 700;
}

.notice__lower-text-a {
    color: var(--countinue-blue);
 } */

/* .back-to-top {
    margin-top: 326px;
}  */


/* The tablet/Computer responsive for the empty basket shopping-cart.HTML */
/* @media only screen and (min-width: 768px) {
    .notice {
        margin-top: 25px;
    }

    .notice__empty-notice {
        height: 136px;
        width: 95%;
        padding: 29px 50px 29px 32px;
        gap: 10px 0px;
    }

    .notice__upper-text {
        font-size: 30px;
    }

    .back-to-top {
        margin-top: 626px;
    }
} */
/* The above are the empty basket design. */


/* The below are the designs for when the basket is full. */
.item {
    margin-top: 20px;
    padding: 6px 30px;
    display: flex;
    justify-content: center;
}

.item__boxes {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

/* Contains the .item__boxes-left-top and .item__boxes-left-bottom */
.item__boxes-left {
    background-color: #fff;
    padding: 10px 27.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    border-radius: .25rem;
}

/* The item__boxes-left-top section begins */
/* Contains the .item__left-top-headline and .item__left-top-deselect */
.item__boxes-left-top {
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px 0px;

}

.item__left-top-headline {
    font-size: 22px;
    font-weight: 700;
}

.item__left-top-deselect {
    color: var(--learn-more-blue);
}

.item__left-top-deselect:hover {
    color: var(--magnificent-red);
}
/* The item__boxes-left-top section ends */

.items__boxes-seperating-line {
    width: 100%;
    height: 2px;
    background-color: var(--category-hover);
}

/* Section item__boxes-left-bottom begins */

/* .item__boxes-left-bottom {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 17px 0px;
} */

/* These are the sizes for the image of the 1st product. */
/* .left-bottom-imgDiv {
    width: 320px;
    overflow: hidden;
    align-self: center;
} */

/* .left-bottom-img {
    width: 100%;
} */
/* These are the sizes for the image of the 1st product. */

/* These are the sizes for the image of the 2nd product. */
.left-bottom-imgDivII {
    width: 320px;
    overflow: hidden;
    align-self: center;
}

.left-bottom-imgII {
    width: 100%;
}
/* These are the sizes for the image of the 2nd product. */

/* These are the sizes for the image of the 3rd product. */
/* .left-bottom-imgDivIII {
    width: 250px;
    overflow: hidden;
    align-self: center;
}

.left-bottom-imgIII {
    width: 100%;
} */
/* These are the sizes for the image of the 3rd product. */
/* .left-bottom-imgDiv section ends */

.item__left-bottom-allInfo {
    display: flex;
    flex-direction: column;
    gap: 17px 0px;
}


/* contains the .item__bottom-productInfo-genral */
.item__left-bottom-productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

/* Contains the .item__productInfo-genralDescription and .item__productInfo-genralPrice tags */
.item__bottom-productInfo-genral {
    display: flex;
    flex-direction: column-reverse; /* Changing the order at which item__productInfo-genralPrice and item__productInfo-genralDescription are placed in the vertical axis */
    
}

.item__productInfo-genralDescription {
    color: #0f1111;
    font-size: 15.5px;
}

.item__productInfo-genralPrice {
    font-weight: 700;
    font-size: 17px;
    align-self: flex-start;
    
}
/* the .item__left-bottom-productInfo section ends */

/* Contains the .item__left-bottom-companyDiv tag */
.item__left-bottom-availibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--stock-green);
}

.item__left-bottom-companyDiv {
    width: 80px;
    align-self: flex-start;
}

.item__left-bottom-companyDivImg {
    width: inherit;
}
/* item__left-bottom-availibility section ends */

.item__left-bottom-purpose {
    display: flex;
    justify-content: normal;
    gap: 0px 10px;
    align-items: center;
}

.item__bottom-purpose-clarifications {
    gap: 0px 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.item__bottom-purpose-label {
    cursor: pointer;
}

#gift, #giftII {
    cursor: pointer;
}



.item__bottom-purpose-a {
    font-size: 14.5px;
}

.item__bottom-purpose-a:hover {
    text-decoration: none;
}
/* item__left-bottom-purpose section ends */

.item__left-bottom-productCutomization {
    display: flex;
    flex-direction: column;
    font-size: 14.5px;
}

.item__productCutomization-style--bold, .item__productCutomization-color--bold {
    font-weight: 700;
}

.item__left-bottom-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 7px;
}

.item__bottom-user-quantity {
    border-radius: 7px;
    width: 109px;
    height: 30px;
    background-color: #f0f2f2;
    padding-left: 7px;
    box-shadow: 0px 1px 2px 0px var(--shadow);
    cursor: pointer;
}

.item__bottom-user-seperatingLine {
    height: 15px;
    border-right: 1px solid var(--category-hover);
}

.item__bottom-user:hover {
    text-decoration: none;
}
/* .item__boxes-left-bottom section ends */

.items__boxes-left-totalCost {
    display: flex;
}

.items__left-totalCost-number--brown {
    color: var( --numberI-brown);
    font-weight: 700;
}

.items__total-cost--bold {
    font-weight: 700;
}
    /* The item__boxes-left-bottom section ends */
/* The item__boxes-left section ends */

/* The item__boxes-confirm section begins */

.item__boxes-confirm {
    border-radius: .25rem;
    background-color: #fff;
    width: 100%;
    padding: 10px 27.5px;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    
}

.items__boxes-confirm-cost {
    display: flex;
    flex-direction: column;
}

.items__confirm-cost-textI {
    font-size: 14px;
}

.items__confirm-cost-textII--bold {
    font-weight: 700;
    font-size: 18px;
}

.item__boxes-confirm-checkout {
    align-self: center;
    width: 50%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--button-yellow);
    box-shadow: 0 1px 2px 0 var(--shadow);
    border-radius: .25rem;
}

.item__boxes-confirm-checkout:hover {
    background-color: var(--button-hover-yellow);
}


/* The item__boxes-confirm section ends */

.back-to-top {
    margin-top: 26px;
} 

@media only screen and (min-width: 768px) {
    .item__boxes-left {
        padding: 10px 20px;
        
    }

    .item__boxes-left-top {
        align-self: flex-start; /* Aligning the headlines for the left box with the other content within */

    }

    

    .item__boxes-left-bottom {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 17px 0px;
    }

    .item__left-bottom-allInfo {
        /* width: 80%;  */
        /* Limiting the width of the texts alognside the image so they don't end up on top of it, This is for left-bottom-imgDiv and left-bottom-imgDivII . */
        
        width: 70%;
        /* This is the width value for when the left-bottom-imgDivIII is present */
    }

    .item__bottom-productInfo-genral {
        flex-direction: row;
        justify-content: space-between;
    }

    .item__productInfo-genralDescription {
        width: 80%;
    }

    /* The adjustment for the 1st image of the product */
    /* .left-bottom-imgDiv {
        align-self: flex-start; */
        /* Aligning the image with other content */
        
    /* } */

    .left-bottom-img {
        position: relative;
        right: 55px; */
        /* Changing the location of the image within the box to be more aligned with other content */
    }
    /* The adjustment for the 1st image of the product */

    /* The adjustment for the 2nd image of the product */
    /* .left-bottom-imgDivII {
        align-self: flex-start;
        flex-grow: 0.5; */
        /* Aligning the image with other content */
        
    /* } */

    /* .left-bottom-imgII {
        position: relative;
        right: 30px;
        flex-grow: 0.5; */
        /* Changing the location of the image within the box to be more aligned with other content */
    /* } */
    /* The adjustment for the 2nd image of the product */

    /* The adjustment for the 3rd image of the product */
    /* .left-bottom-imgDivIII {
        align-self: flex-start;
        width: 20%;
        flex-grow: 0.5; */
        /* Aligning the image with other content */
        
    /* } */
    /* The adjustment for the 3rd image of the product */

    .items__boxes-left-totalCost {
        align-self: flex-end;
    }
}

@media only screen and (min-width: 1024px) {
    .item {
        padding: 6px 30px;/* To give both the boxes some room for their width */
    }

    .item__boxes {
        flex-direction: row;
        gap: 0px 20px;
        width: 985px;
        height: auto;
        padding: 0 0 0 0;
        flex-grow: 1;
        /* For SOME reason (AGAIN!) the width that's given to our content is rougly 260px smaller than the one given in the webpage. */
        justify-content: flex-start;
    }

    .item__boxes-left {
        padding: 40px 45px 70px;
        width: 95%;
        max-width: 1182px;
        flex-grow: 0.5;
        gap: 20px 0px;
    }

    .item__left-top-headline {
        font-size: 36px;
    }

    .item__left-bottom-allInfo {
        width: 80%; 
        /* Limiting the width of the texts alognside the image so they don't end up on top of it, This is for left-bottom-imgDiv and left-bottom-imgDivII . */

        /* width: 63%; */
        /* This is the width value for when the left-bottom-imgDivIII is present */
    }

    .item__productInfo-genralDescription {
        font-size: 18px;
        flex-grow: 0.4;
    }

    .item__productInfo-genralPrice {
        font-size: 18px;
    }

    .item__left-bottom-purpose {
        flex-direction: row;
        gap: 0px 10px;/* Distancing the 1st "this will be a gift" and "learn more"  */
        
    }

    .subtotal-one {
        font-size: 18px;
    }

    .item__boxes-confirm  {
        padding: 10px 15px; /* Giving the content inside some space for their width */
        
        width: 287px;/* For some reason the actual width in the webpage is 42px smaller than the value you will enter here, Keet that in mind when putting in your value */
        height: 175px;/* Making sure the height doesn't stretch to the bottom of the webpage. */
        
    }


    .item__boxes-confirm-purpose  {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        gap: 0px 0px;

    }

    .item__confirm-purpose-label {
        text-align: right;
    }   



    .item__confirm-purpose-clarifications {
        flex-wrap: wrap;
    }

    .item__confirm-purpose-a {
        align-self: flex-start;
    }

    .item__boxes-confirm-checkout {
        width: 100%;
    }
}
/* Putting these @medias in the responsive is HIGHLY ill advised, Thanks to back-to-top:  having unique margin-top:  values here, that WILL interfere with other pages. */