{% extends "parent/base.html" %}
{% load static %}
{% block content %}



<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">باید وارد شوید</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                <li class="separator"><i class="icon-angle-left"></i></li>
                <li class="breadcrumb-item"><a href="{% url 'signin' %}">ورود</a></li>

            </ul>
            <a href="{% url 'signin' %}"><h1  class="title">ورود</h1></a>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2" src="{% static 'images/about/shape-13.png'%}" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2" src="{% static 'images/about/shape-15.png'%}" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="{% static 'images/about/shape-07.png'%}" alt="shape"></li>
    </ul>
</div>

{% endblock content %}